/* Checked e Focus dos botões da tela de Login e Cadastro */

.checkbox:focus ~ label{
  outline: 2px solid #892CCD;
}

.checkbox:checked ~ label{
  color: #A85FDD;
  background-color: #1A1B2D;
}

/* Inputs forms Login e Cadastro */

.inpForm {
  flex: 1;
  padding: 0.75rem 1rem 0.75rem 2.75rem;
  border: 1px solid #1A1B2D;
  border-radius: 6px;

  color: #E4E5EC;
  background: transparent;
}

.inpForm:hover,
.inpForm:focus {
  outline: 2px solid #892CCD;
}

.inpForm::placeholder {
  color: #7A7B9F;
}

.inpForm:valid ~ i.ph {
  color: #892CCD;
}

/* Animação para alterar os containers Login e Cadastro */

#login {
  transition: all .2s ease-in-out;
}

#login.active {
  margin-left: -378px;
}

#register {
  display: none;
}